<h1>Carrito</h1>
<br>
<hr>
 
    <div>
        <ul>
            <li>{{this.product}}</li>
            <li>{{this.products}}</li>
            <li>{{this.quantity}}</li>
            <li>{{this.product.title}}</li>
            <li>{{this.products.title}}</li>
        </ul>
    </div>

 <br>
 <hr>